<launch>
    <rosparam command="load" file="$(find pv_lio_plus)/config/solid.yaml"/>
    <node pkg="pv_lio_plus" type="pv_lio_plus_node"
          name="pv_lio_plus_node" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz"
          args="-d $(find pv_lio_plus)/config/rviz_cfg/voxel_mapping.rviz"/>
</launch>
